ul {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

div.parent {
    margin-top: 1%;
    text-align: center;
}

li {
    color: gray;
    font-size: 25px;
    list-style-type: none;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

a:hover {
    color: white;
    font-size: 35px;
}

a {
    color: #305C8B;
}

a:link {
    text-decoration: none;
}

ul {
    display: inline-block;
    text-align: left;
}

body {
    background: url(imagen/god-of-war-tesoros.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    text-align: center;
}

@font-face {
    font-family: mifront;
    src: url(GODOFWAR.TTF);
}

div {
    font-family: mifront;
}

h1 {
    color: #ffc628;
    font-size: 35px;
}

.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
    font-family: mifront;
}

.atras {background-color: #ff9800;} 
.atras:hover {background: #e68a00;}