#miAudio {
    display: none;
}

label {
    color: #00f6fe;
    font-size: 40px;
    list-style-type: none;
    text-align: center;
    position: relative;
    z-index: 2;
    font-family: mifront;
}

input{
    text-align: center;
    font-size: 20px;
    font-family: mifront;
    position: relative;
    z-index: 2;   
}

button{
    position: relative;
    z-index: 2;   
}

div.parent {
    margin-top: 15%;
    text-align: center;
}

li {
    color: gray;
    font-size: 40px;
    list-style-type: none;
    text-align: center;
    margin-bottom: 20px;
    font-family: mifront;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

a:hover {
    color: #00f6fe;
    font-size: 50px;
}

a {
    color: #00f6fe;
}

a:link {
    text-decoration: none;
}


@font-face {
    font-family: mifront;
    src: url(GODOFWAR.TTF);
}

#miAudio {
    display: none;
}

#hero {
    min-height: 100vh;
    position: relative;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}

h1 {
    color: #ffc628;
    font-size: 3em;
    text-shadow: 5px 5px 3px black;
    position: relative;
    font-family: mifront;
    z-index: 2;
}

#footer{
    margin-top: 50px;
}

#btnCrear{
    margin-top: 25px;
}